@page
@model RazorWebApplication.Pages.Categories.EditModel

<form method="post">
    <input hidden asp-for="Category.Id" />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary pl-3">Edit Category</h2>
            <hr />
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="Category.Name"></label>
            <input class="form-control" asp-for="Category.Name"/>
            <span asp-validation-for="Category.Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Category.DisplayOrder"></label>
            <input class="form-control" asp-for="Category.DisplayOrder"/>
            <span asp-validation-for="Category.DisplayOrder" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width: 150px">Update</button>
        <a asp-page="Index" class="btn btn-secondary" style="width:150px">Back To List</a>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_validationScriptsPartial"/>
    }
}